{% extends "profile/base.html" %}
{% load i18n %}
{% block title %}Profile view of user {{ user.username }}{% endblock %}
{% block content %}
    <div class="menu">
        {% if user.is_authenticated %}
            <a href="{% url auth_logout %}?next=/">Exit</a> |
            <a href="{% url profile_edit %}">Edit profile</a> |
        {% else %}
            <a href="{% url registration_register %}">register</a> |
        {% endif %}                
    </div><hr>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}</h1>
        {% if profile %}
        <h2>This is your profile:</h2>
        <ul>
            <li><b>User name:</b> {{ profile.user }}</li>
            <li><b>First name:</b> {{ user.first_name }}</li>
            <li><b>Last name:</b> {{ user.last_name }}</li>
            <li><b>Date of birth:</b> {{ profile.birthday|date:"j F Y H:i" }}</li>
            <li><b>User biography:</b> {{ profile.biography }}</li>
            <li><b>Contacts:</b> {{ user.email }}</li>
        </ul>
        {% else %}
        You haven't profile yet. Do you want <a href="{% url profile_edit %}">create</a> it?
        {% endif %}
    {% else %}
        <h1>Authenticate yourself, please:</h1>
        {% if error_message %}
            <p class="errornote">{{ error_message }}</p>
        {% endif %}
        <form action="{% url auth_login %}" method="post">
            <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" /><br />
            <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" /><br />
            <input type="submit" value="{% trans 'Log in' %}" />
        </form>
        <h1>or <a href="{% url registration_register %}">register</a></h1>
    {% endif %}
{% endblock %}
