
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-Transitional.dtd">

<head>
	<title>{% block title %}Simple profile application{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8" />
	
		 <link rel="stylesheet" type="text/css" href="{{ settings.ADMIN_MEDIA_PREFIX }}css/screen.css" />
		 <link rel="stylesheet" type="text/css" href="{{ settings.ADMIN_MEDIA_PREFIX }}css/forms.css"/>
		<link rel="stylesheet" type="text/css" href="{{ settings.ADMIN_MEDIA_PREFIX }}css/base.css"/>
		<link rel="stylesheet" type="text/css" href="{{ settings.ADMIN_MEDIA_PREFIX }}css/global.css"/>
		<link rel="stylesheet" type="text/css" href="{{ settings.ADMIN_MEDIA_PREFIX }}css/widgets.css"/>
	{% block extracss %}
	{% endblock %}
		<script type="text/javascript" src="{{ settings.ADMIN_MEDIA_PREFIX }}js/core.js"></script>
		<script type="text/javascript" src="{% url admin:index %}jsi18n/"></script>

	{% block extrajs %}
	{% endblock %}
</head>
<body>
    <div class="menu">
        {% if user.is_authenticated %}
            <a href="{% url auth_logout %}?next=/">Exit</a> |
            {% block menu %}{% endblock %}
        {% else %}
            <a href="{% url registration_register %}">register</a> |
        {% endif %}                
    </div><hr>
{% block content %} {% endblock %}
</body>
</html>